body{
    background-color: #F9E49F;
    margin: 0;
    padding: 0;
    /* start of background color changing */
    animation: myanimation 10s infinite;
   
}



@keyframes myanimation {
    0% {background-color: #F9E49F}

    50%{background-color: #E3F2ED}
   
    100% {background-color: #F9E49F}
}
/* end of background changing */
/* adding animation for trees under this */

header div{
    background-image: url(images/Trees.svg);
    
}

header div:hover .tree{
    animation: fadeIn 3s forwards;
}

.tree{
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeOut 3s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
 
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

/* adding animation for trees over this */

header{
    margin-bottom: 25px;
    margin-top: 25px;
}

header h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 75px;
    margin: 0;
    padding: 0;
    color: #1F271B;
    text-align: center;
    line-height: .85em;
    
}

.bottom{
    margin-bottom: 10px;
}

header img{
  margin: auto;
}

main{
    padding-left: 25px;
    padding-right: 25px;
}

.left{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.middle{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.right{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

main article{
background-color: #F5BE8E;



}

article{
    border-radius: 25px;
}

article h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1F271B;
    margin-bottom: 0;
    padding-left:20px;
}


article ul{
    list-style: none;
   margin-top: 0;
   padding-left: 0;
   padding-left:20px;
}

article ul li a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #1F271B;
    line-height: 1.5em;
    /* padding: 0;
    margin:0; */
    
}

 a:hover {
    
    color: #0E8160;
}

footer{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    
    
}

footer {
    background-image: url(images/LeavesBottom.svg);
   background-size: 200% auto ;
   background-position: center;
   padding-top: 10px;
   padding-bottom: 20px;
   
}

footer a{
    color: #1F271B;
text-decoration: none;
}

[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 888px) {
body{ max-width: 1200px;
/* padding-top: 10px; */
}

header{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
   
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

header img{
    min-width: 450px;
    height: auto;
}

.row{
    display: flex;
    justify-content: space-around;
    
   
    align-items: flex-start;
}
article{
    min-width: 250px;
 
    height: 400px;
}

footer{background-size: 100% auto;
padding-bottom:122px ;

}
}
@media only screen and (min-width: 1150px) {


article{ min-width: 350px;
height: 400px;}

header img{
    min-width: 600px;

    
}
header h1{
    font-size: 100px;
    padding-top: 100px;
}


}
@media only screen and (min-width: 1300px) {
body {
   
    padding-left: 200px;
}


}